/* Ahmad Malki 2140076 */

:root {
	--first-section-background: linear-gradient(0deg, #0E1116, rgb(0, 5, 15));
	/* --gradient-text: linear-gradient(20deg, rgb(104, 157, 191), rgb(163, 163, 163)); */
	--gradient-text: linear-gradient(10deg, rgb(75, 148, 194), white);
	--hr-color: rgb(25, 5, 80);
	--second-section-background: linear-gradient(0deg, #0a0c10, #0E1116);
	--second-section-text: rgb(180, 201, 219);
	--second-section-button-background: linear-gradient(20deg, rgb(104, 157, 191), silver);
	--second-section-button-highlight: silver;
    --carousel-control-transition: .15s ease;
}

body {
    margin: 0;
	padding: 0;
	font-family: myFont;
	background-color: black;
}

section {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: fit-content;
    background-image: linear-gradient(0deg, #0E1116, rgb(0, 5, 15));
    justify-content: center;
    align-items: center;
    gap: 50px;
    overflow: hidden;
}

#firstDiv {
    margin-top: 12vw;
}

.projectDiv {
    color: var(--second-section-text);
    font-family: myFont;
    display: flex;
    margin: 10vw;
    gap: 50px;
}

.evenDiv {
    flex-direction: row-reverse;
}

.title {
    font-size: 2.5vw;
    margin: 1em 0;
}

p {
    font-size: 1.2vw;
    text-align: justify;
}

.projectDiv img {
    width: 40vw;
    border-radius: 10px;
}

.carouselButtonDiv {
    mix-blend-mode: difference;
}

.carousel-item {
    min-height: 200px;
}

.carousel-item p {
    color: var(--second-section-text);
    text-shadow: rgb(84, 84, 84) 0px 1px 2px;
}

h2 {
    margin: 0px;
    color: var(--second-section-text);
}

.title-div a {
    font-size: 1.3vw;
    color: var(--second-section-text);
    text-decoration: none;
    margin-top: 2px;
}

a:hover {
    color: var(--second-section-text);
    text-shadow: rgb(45, 118, 164) 0px 0px 10px;
    text-decoration: underline;
}

.title-div {
    display: flex;
    align-items: center;
    gap: 15px;
}

@media screen and (max-width: 1128px) {
    .projectDiv {
        flex-direction: column;
        align-items: center;
        gap: 0;
        margin-bottom: 50px;
        /* margin-right: 10px;
        margin-left: 10px; */
    }

    .title-div {
        justify-content: center;
        gap: 0.5em;
    }

    .title-div a {
        font-size: max(14px, 1.5vw);
    }
    
    .title {
        font-size: max(20px, 3vw);
        justify-self: center;
    }

    p {
        font-size: max(16px, 1.5vw);
        justify-self: center;
    }

    .projectDiv img {
        width: 100%;
    }
}